*           @SwissDataScienceCenter/BDFL @SwissDataScienceCenter/renga-deployer-maintainers
/docs/      @SwissDataScienceCenter/documentation-reviewers
*.rst       @SwissDataScienceCenter/documentation-reviewers
