version: "3"
services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
  deployer:
    build: .
    depends_on:
      - db
    environment:
      SQLALCHEMY_DATABASE_URI: "postgres+psycopg2://postgres:postgres@db/deployer"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/code
    ports:
      - 5000:5000
    restart: on-failure
