version: "3"
services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
  deployer:
    build: .
    command: uwsgi /code/docker/uwsgi/uwsgi.ini
    depends_on:
      - db
    environment:
      DEPLOYER_URL: localhost
      DEPLOYER_BASE_PATH: /api/deployer
      SQLALCHEMY_DATABASE_URI: "postgres+psycopg2://postgres:postgres@db/deployer"
      WSGI_NUM_PROXIES: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/code
    ports:
      - 5000
    restart: on-failure
    labels:
      - "traefik.backend=deployer"
      - "traefik.enable=true"
      - "traefik.frontend.rule=PathPrefix:/api/deployer"
  traefik:
    image: traefik
    command: --web --docker --docker.watch --docker.domain=localhost \
      --debug --logLevel=DEBUG \
      --defaultentrypoints=http,https \
      --entrypoints='Name:http Address::80 Redirect.EntryPoint:https' \
      --entrypoints='Name:https Address::443 TLS:/ssl/test.crt,/ssl/test.key' \
      --docker.exposedbydefault=false
    ports:
        - 80:80
        - 443:443
        - 8080:8080
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - /dev/null:/traefik.toml
        - ./docker/ssl/:/ssl/
